.center {
    text-align: center;
}
.center table,
.center div,
.center p {
    margin-right: auto;
    margin-left: auto;
}

div.left {
    text-align: left; 
}
div.center {
    text-align: center; 
}
div.right {
    text-align: right; 
}
