.center {
    text-align: center;
}
.center table,
.center div,
.center p {
    margin-right: auto;
    margin-left: auto;
}

<body>
　<p style="text-align:right">
　　<img src="images/banner.jpg">
　</p>
　<p style="text-align:center">
　　<img src="images/banner.jpg">
　</p>
</body>
